.tiptap.ProseMirror {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .tiptap-image-resizable {
        position: relative;
        display: inline-block;
        max-width: 100%;
        margin: 2rem 0;
        outline: 0.125rem solid transparent;
        border-radius: var(--tt-radius-xs, 0.25rem);
    }

    .tiptap-image-resizable__img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: inherit;
    }

    .tiptap-image-resizable.ProseMirror-selectednode {
        outline-color: var(--tt-brand-color-500);
    }

    .tiptap-image-resizable__handle {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        right: -0.375rem;
        bottom: -0.375rem;
        background: var(--tt-brand-color-500);
        border: 0.125rem solid white;
        border-radius: 0.25rem;
        cursor: nwse-resize;
        display: none;
        touch-action: none;
    }

    .tiptap-image-resizable.ProseMirror-selectednode
        .tiptap-image-resizable__handle,
    .tiptap-image-resizable[data-selected='true']
        .tiptap-image-resizable__handle,
    .tiptap-image-resizable[data-resizing='true']
        .tiptap-image-resizable__handle {
        display: block;
    }

    // Thread image handling
    .tiptap-thread:has(> img),
    .tiptap-thread:has(> .tiptap-image-resizable) {
        margin: 2rem 0;

        img {
            outline: 0.125rem solid transparent;
            border-radius: var(--tt-radius-xs, 0.25rem);
        }
    }

    .tiptap-thread img {
        margin: 0;
    }
}
